// WinVoiceTest_res.rc
// Copyright (C) 2018 Katayama Hirofumi MZ <katayama.hirofumi.mz@gmail.com>
// This file is public domain software.
#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Encoding

#pragma code_page(65001)    // UTF-8

/////////////////////////////////////////////////////////////////////////////
// String Table

STRINGTABLE
{
    IDS_KONNICHIWA, "こんにちわ。"
}

/////////////////////////////////////////////////////////////////////////////
